/* =================================== 
	CONTAINERS
	=================================== */


	/* GENERAL
	----------------------------------- */	
	html {
		
	}

	body {
		background: #fff;

	}
	
	#main-container {
		padding-top: 3rem;
		&.home-container {
			background: transparent url(../images/bg-pattern.jpg) repeat; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-color: #fafafa;
		}	
	}
	
	
	/* HOME PAGE
	----------------------------------- */	
	.sm-article,
	.baseball-joe,
	.contributors-wrap {
		background:$module-bg;
	}

	.sm-article,
	.sidebar-content {
		border:$general-border-width $general-border-style $general-border-color;
	}
	
	.baseball-joe,
	.contributors-wrap {
		padding:$general-padding*1.5;
	}
	
	
	

	/* SHORT-FORM LANDING
	----------------------------------- */	
	.short-form-landing {
		background-color:#fff;
		height: auto;
	}


	/* SHORT-FORM + LONG-FORM ARTICLE
	----------------------------------- */	
	.short-form-article,
	.long-form-article {
		@extend body;
		background-color:#fff;
		height: auto;
	}

	
	
	/* FOOTER
	----------------------------------- */		
	footer {
		background:#1e1e1e;
	}
