/* =================================== 
	ELEMENT STYLES
	=================================== */


/*	HOME PAGE
	----------------------------------- */

	aside ul li {
		list-style: none;
	}


	/*	MAIN COLUMN --------------------- */
		
		//articles
		.articles {
			margin-bottom:$general-margin*4;
		
			.article-image {
				
				
				img {
					display: block;
				}
			}
			
			.article-details {
				padding:$general-padding/2;
				background: rgba(255, 255, 255, 0.9);
				border: $article-detail-border-width $article-detail-border-style $article-detail-border-color;
				margin-top: -190px;
				text-align: center;
				position: relative;
				max-width: 492px;
				
				.details-wrap {
					border: $list-bottom-border-width $article-detail-border-style $article-detail-border-color;
			
					h2 {
						@include horiz-dark-bg;
						padding:$general-padding*0.875;
						margin-top: 0;
						margin-bottom: 0;
					}
					
					h2,h3 {
						font-size: 20px;
						text-transform: uppercase;
						font-family:$body-font-bold;
						letter-spacing:rem-calc(-1);
						
						a:link,a:visited {
							text-decoration: none;
							color:$body-font-color;
						}
					}
					
					.author-wrap,
					.signal-wrap {
						@include vert-dark-bg;
					}

					.author-comments {
						overflow-y:auto;
					
						p {
							margin:$general-margin*.8 0 $general-margin*.5;
							/* font-size:$paragraph-font-size*1.125; */
							line-height: 65%;
							
							&.comments {
								@include icons-sprite(comment-medium);
								width: 25px;					
								height: 20px;
								margin: $general-margin*.8 auto $general-margin*.5;

								a:link,a:visited {
									color:#fff;
									font-size:$paragraph-font-size*0.625;
									line-height:normal;
									
								}
							}
							
							&.author {
								line-height: 100%;
								
								a:link,a:visited {
									color:$alert-color;
								}
							}
							
							&.signal {
								margin:$general-margin*.6 0 $general-margin*.5;
								img {
									width: 25px;
									height: 25px;
									@include border-radius($global-rounded);
								}
							}
						}
					}
				}
			}
			
			.sm-article {
				margin:$general-margin 0;
				
				.article-details {
					border: 0;
					padding: 0;
					background: transparent;
					margin-top:-20%;
				}
				
				.title-wrap {
					text-align: center;
					height: 6.5rem;
					overflow: hidden;
					background: #fff;

					h3 {
						padding:$general-margin;
						font-family:$body-font-bold;
						font-size: 20px;
						text-transform: uppercase;
						text-align: center;
						letter-spacing: rem-calc(-1);
						/* margin-bottom: $general-margin; */
						margin-top: 0;
						line-height: 1.4em !important;
						display: table-cell;
						vertical-align: middle;
						margin: 0 auto $general-margin;
						height: 96px;
						width: inherit;
						
						a:link,a:visited {
							text-decoration: none;
							color:$body-font-color;
						}
					}
				}
				
				.author-comments {
					overflow-y:auto;
					background-color:$module-bg;
					@include horiz-light-bg;
					background-position: 100% 0;
					margin-top:$general-margin*0.75;
					
					.author-wrap,
					.signal-wrap {
						@include vert-light-bg;
					}
					
					&.two-col {
						p.comments {
							width: 25px;
						}
					}
					
					p {
						margin:$general-margin*.8 0 $general-margin*.5;
						line-height: 65%;
						
						&.comments {
							@include icons-sprite(comment-small);
							background-position: 0 0;	
							height: 20px;
							width: 25px;
							margin-left: auto;
							margin-right: auto;

							a:link,a:visited {
								color:#fff;
								font-size:$paragraph-font-size*0.625;
								line-height:normal;
								
							}
						}
						
						&.author {
							line-height: 115%;
							
							a:link,a:visited {
								color:$alert-color;
							}
						}
						
						&.signal {
						margin:$general-margin*.6 0 $general-margin*.5;
							img {
								width: 25px;
								height: 25px;
								@include border-radius($global-rounded);
							}
						}
					}		
				}
			}
		}
	

		//by the numbers
		.by-the-numbers {
			font-family:$body-secondary-font-family;
			margin-bottom:$general-margin*4;
			
			div.row {
				div:last-child {
					background-image: none;
				}
			}
			
			h2 { 
				@include big-blue-bg;
				margin-bottom:$general-margin*4;
				
				span {
					@include headers-sprite(by-the-numbers-headline);
					@include section-headers;
					background-position-x: -3%;
					background-color: #f8f8f8;
					width: 166px;
					height: 117px;
				}
			}
			
			.btn-entry {
				text-align:center;
				@include vert-light-bg;
				
				img {
					margin-bottom:$general-margin*2;
				}
				
				p {
					a:link,a:visited,a:hover,a:active {
						color: $body-font-color;
					}
				}
			}
		}
		
	
		
	/* SIDEBAR --------------------- */	
		//baseball-joe
		.baseball-joe {
			text-align: center;
			
			.section-header {
				@include big-blue-bg;
				
				span {
					@include headers-sprite(baseball-joe-headline);
					@include section-headers;
					background-position-x: -3%;
					width: 179px;
					height: 49px;
					margin: 0 auto $general-margin;
				}
			}
			
			p.tagline {
				font-style: italic;
				font-family:$body-secondary-font-family;
			}
			
		
			ul {
			
				p,li {
				font-family:$body-secondary-font-family;
				
				}
			}
			
					
			li {
				@include horiz-light-bg;
				margin-top: $list-margin-bottom;
				padding-bottom: $list-margin-bottom;
				
				&.last { background-image: none; }
				
				a:link,a:visited,a:hover,a:active {
					color: $body-font-color;
				}
			}
	
		}
	
		//ad
		.ad { text-align: center;padding:$general-padding*1.5 $general-padding; }
	
		//contributors
		.contributors-wrap {

			.section-header {
				@include big-blue-bg;
				
				span {
					@include headers-sprite(contributors-headline);
					@include section-headers;
					background-position-x: -5%;
					width: 249px;
					height: 56px;
				}
			}
		
			li {
				padding-bottom: $module-padding*.75;
				
				.thumb-image {
					img { max-width:100px; }
				}
			}
		
			.handle {
				p {
					margin-top: 1rem;
					font-size:$h5-font-size;
					font-family: $body-font-bold;
					margin-bottom: 0;
					
					span.twitter-handle {
						display: block;
						font-weight: normal;
						font-family:$body-font-family;
					}
				}
			}
		}



/* mobile (under 768px)
----------------------------------- */

	@media only screen  
	and (max-width : 768px) {
		#main-container {
			padding-top: 0;
		}
	
		.lg-article {
			.article-details {
				margin-top: -88px;
				background-color: #fff;
			}
		}
		
		.ad-wrap {
			margin-top: $general-margin !important;
			margin-bottom: $general-margin !important;			
			@include general-border;
			border-width: 1px 0;
			padding: $general-padding 0;
		}
	
		.articles {
			.sm-article {
	
				
				.article-details {
	
				}
				
				.title-wrap {
					width: 100%;
					text-align: center;
					height: 5.5rem;
					overflow: hidden;
					background: #fff;
					h3 {
						width: inherit;
						font-size: 16px;
					}
				}
				
				.author-comments {
					p {
						margin: 0.8rem 0 0.6rem;
					}
				}
				
				p {
					&.author {
						font-size: 16px;
					}
				}
			}
		}
	} //end mobile

/* non-mobile
----------------------------------- */

	@media only screen  
	and (min-width : 768px) {
	
		.lg-article {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
		}
	
	}
