/* =================================== 
	GLOBAL
	=================================== */

	$general-margin: 1rem;
	$general-padding: 1rem;
	$module-padding: $general-padding*2;
	
	$general-border-width:1px;
	$general-border-style:solid;
	$general-border-color:#ccc;
	
	$list-bottom-border-width:1px;
	$list-bottom-border-style:dotted;
	$list-bottom-border-color:#ccc;

	$article-detail-border-width:4px;
	$article-detail-border-style:solid;
	$article-detail-border-color:#000;
	
	$thumb-image-border-width:4px;
	$thumb-image-border-style:solid;
	$thumb-image-border-color:#ccc;
	
	$body-font-bold:'allerbold',serif;
	$body-font-bolditalic:'allerbold_italic',serif;
	$body-font-italic: 'alleritalic', serif;
	$body-copy-font-color: #26353c;
	
	p,a,li {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}