/* Custom styles for JaBO project */

/*
// We use these to control various global styles
$body-bg: #fafafa;
$module-bg: #fff;
$body-font-color: #0e0d0d;
$body-font-family: 'allerregular', sans-serif;
$body-secondary-font-family: 'Vollkorn', serif;
// $body-font-weight: $font-weight-normal;
// $body-font-style: normal;

// We use these as default colors throughout
$primary-color: #00aeef;
// $secondary-color: #e7e7e7;
// $alert-color: #e51b23;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;
*/




	

/* =================================== 
	SECTION
	=================================== */


/*	SUBSECTION
	----------------------------------- */
	








	
	

























	
