/* =================================== 
	NAVIGATION
	=================================== */
	.sticky { z-index: 10000000; } //jon
	
	.top-bar {
		@include box-shadow (0 1px 5px 0px #ccc);
		height: 96px;
		background-color:$module-bg;
		margin-bottom: 0; //jon

		.top-bar-section {			
			.name {
					&:not(.has-form) a:not(.button) {
						line-height: 96px;
					}
	
					img { width: 460px; display:block; margin: $general-margin auto 0; }
				}
				
			ul {
				background: none;
								
				&.main-nav {
					> li {
						background-color: #fff;
						
						margin-top: $general-margin*1.5;
						
						&.menu-dropdown,
						&.search-dropdown {
							padding: 0 1rem;
							cursor: pointer;
							
							.dropdown {
								margin-left: 1rem;
							}
						}
						
						&.menu-dropdown {
							@include menu-closed;
							@include transition(background-image 0.25s ease-in-out);
							
							&:hover,
							&:active {
								@include menu-open;

								> a {
									color:#ff0000;
									@include transition(color 0.25s ease-in-out);
								
								}
							}
						}
						
						&.search-dropdown {
							@include search-closed;
							@include transition(background-image 0.25s ease-in-out);;
							
							&:hover,
							&:active {
								@include search-open;
								> a {
									color:#ff0000;
									@include transition(color 0.25s ease-in-out);
								}
							}
							
							input {
								top: 0;
								width: 12rem;
							}
						}
						
						a:link, a:visited {
							font-family: $body-font-family;
							text-transform: uppercase;
							padding:0 !important;
						}
						
						> a:not(.button) {
							background-color: #111;
							color:$body-font-color;
						
							&.menu-dropdown {
								text-align: center;
								span {


								}
								
								&:hover,
								&:active {

								}
							}
						}						
					}
					
					&:not(.has-form) {
						a:not(.button) {
							background-color: transparent;
							color:$body-font-color;
						}
						
						a:not(.button):hover {
							background-color: transparent;
							color: #ff0000;
						}
					}
				}

				li {
					background: none;
					
					&:not(.has-form) a:not(.button) {
						background: none;
						color:$body-font-color;
					}
					
					&.fox-logo {
						float: right;
					
						&:not(.has-form) a:not(.button) {
							line-height: 96px;
						}
						
						img {
							width: 71px;
							height: 41px;
						}
					}
					
					a {
						background: none;
						color:$body-font-color;
					}
				}				
			
			}
			

			.divider {
				border-top:	$list-bottom-border-width $list-bottom-border-style #4d4d4d;
				border-bottom: 0px none;
				width: 50%;
				float: none;
				margin: 0 auto;
			}

			
			.dropdown {
				border:1px solid #cdcdcd;
				background: #111;
				padding:$general-padding $general-padding*1.5;
				
				li {
					a:link, a:visited {
						color: #fff;
						text-align: center;
					}
					
					a:hover, a:active {
						color: #ff0000;
					}
					
					&:not(.has-form) {
						a:not(.button) {
							background-color: #111;
							color: #ccc;
						}
						
						&:hover {
							background-color: #111;
							color: #ff0000;
						}
					}				
				}
			}
		}
	}
	
	
/* small screens
----------------------------------- */	


@media only screen 
and (max-width : 768px) {

	.top-nav {
		height: 60px;
		display: block;
		margin-bottom: 0; //jon
		@include box-shadow(0 1px 10px 0px #ccc);
		background-color: #fff;
	
		.menu {
			text-align: center;
				
				a {
					margin-top:$general-margin/2;
					display:inline-block;
					text-transform: uppercase;
					
						&.menu-dropdown {
							@include menu-closed;
							color:#1e1e1e;
							font-size: $paragraph-font-size*.625;
							padding-top:$general-padding*1.75 !important;
						}
					
						&.menu-dropdown:hover,
						&.menu-dropdown:active,
						&.menu-dropdown:focus {
							@include menu-open;
							color:#ff0000;
						}
					}
				
				#menudrop {
					ul {
						margin-bottom: 0;

						li {
							list-style: none;
							background-color: transparent;
							@include horiz-light-bg;
							padding: 0;
							margin: 0;
							
							
							&.first {

							}
							
							&.last {
								background-image: none;
								margin-top: $general-margin*2;
							}
							
							&:hover,
							&:hover a,
							a:hover,
							a:active {
								color: #ff0000 !important;
							}
	
							a:link,
							a:visited {
								font-size:$paragraph-font-size*1.25;
								color: #ccc;
								display:block;
								line-height: 100%;
							}					
						}
					}
				}
					
			
		} /*menu*/
	
	
	
		.logo {
		
			img { width: 200px; margin: $general-margin*.75 auto 0; display: block; }
		
		
		
		} /*logo*/
	
		
		
		.search {
			text-align: center;
	
			a {
				margin-top:$general-margin/2;
				display:inline-block;
				font-size: $paragraph-font-size*.625;
				padding-top:$general-padding*1.75 !important;
				text-transform: uppercase;
				background-position: 50% 10%;
			
				&.search-dropdown {
					@include search-closed;
					color:#1e1e1e;
					
				}
			
				&.search-dropdown:hover,
				&.search-dropdown:active,
				&.search-dropdown:focus {
					@include search-open;
					color:#ff0000;
				}
			
			}
		
			#searchdrop {				
				form {
					margin-top:$general-margin/2 0;
				
					input,
					input [type="text"] {
						@include box-shadow(0px none);
						text-transform: uppercase;
						border: 0;
						font-size:$paragraph-font-size*1.125;
						
					}
				}
			}		
		} /*search*/
	
	} /*main nav*/
	
}/* media - small */



/* mobile nav - 320px smartphone portrait
----------------------------------- */

@media only screen 
and (max-width : 320px) {

	#menudrop {
		padding: 0 $general-padding*1.25;
		
		&.open {
			top: 56px !important;
			background:#111 !important;
			width: 315px !important;
		}
		
		&.f-dropdown:before,
		&.f-dropdown:after,
		&.f-dropdown.content.open::before,
		&.f-dropdown.content.open::after {
			left: 32px;
		}
		
		&.f-dropdown:before,
		&.f-dropdown.content.open::before {
			border-color:transparent transparent #111 transparent;
		}
		
		ul {
			li {
				a:link,
				a:visited {
					
					display:block;
					padding: 0 0 12px !important;
					margin: 14px 0 0 !important;
					
				}
			}
		}
	}
	
	
	#searchdrop {
		background: #111;
	
		&.open {
			top: 56px !important;
			width: 315px !important;
			left: -237px !important;
		}
		
		&.f-dropdown:before,
		&.f-dropdown:after,
		&.f-dropdown.content.open::before,
		&.f-dropdown.content.open::after {
			left: 270px !important;
			border-color:transparent transparent #111 transparent;
		}
	}
	
}





/* mobile nav - 480px smartphone landscape
----------------------------------- */

@media only screen 
and (min-width : 321px) 
and (max-width : 480px) {

	#menudrop {
		padding: 0 $general-padding*1.25;
		
		&.open {
			top: 56px !important;
			background:#111 !important;
			width: 475px !important;
		}
		
		&.f-dropdown:before,
		&.f-dropdown:after,
		&.f-dropdown.content.open::before,
		&.f-dropdown.content.open::after {
			left: 50px;
		}
		
		&.f-dropdown:before,
		&.f-dropdown.content.open::before {
			border-color:transparent transparent #111 transparent;
		}
		
		ul {
			li {
				a:link,
				a:visited {
					
					display:block;
					padding: 0 0 12px !important;
					margin: 14px 0 0 !important;
					
				}
			}
		}
	}
	
	
	#searchdrop {
		background: #111;
	
		&.open {
			top: 56px !important;
			width: 475px !important;
			left: -358px !important;
		}
		
		&.f-dropdown:before,
		&.f-dropdown:after,
		&.f-dropdown.content.open::before,
		&.f-dropdown.content.open::after {
			left: 410px !important;
			border-color:transparent transparent #111 transparent;
		}
	}
	
}



/* tablet nav - 768px portrait
----------------------------------- */

@media only screen 
and (min-width : 481px) 
and (max-width : 768px) {

	#menudrop {
		padding: 0 $general-padding*1.25;
		
		&.open {
			top: 56px !important;
			left: 50px !important;
			background:#111 !important;
			width: 320px !important;
			max-width: 320px;
		}
		
		&.f-dropdown:before,
		&.f-dropdown:after,
		&.f-dropdown.content.open::before,
		&.f-dropdown.content.open::after {
			left: 40px;
		}
		
		&.f-dropdown:before,
		&.f-dropdown.content.open::before {
			border-color:transparent transparent #111 transparent;
		}
		
		ul {
			li {
				a:link,
				a:visited {
					display:block;
					padding: 0 0 16px;
					margin: 18px 0 0;					
				}
			}
		}
	}
	
	
	#searchdrop {
		background: #111;
	
		&.open {
			top: 56px !important;
			width: 320px !important;
			max-width: 320px;
			left: -180px !important;
		}
		
		&.f-dropdown:before,
		&.f-dropdown:after,
		&.f-dropdown.content.open::before,
		&.f-dropdown.content.open::after {
			left: 266px !important;
			border-color:transparent transparent #111 transparent;
		}
	}
	
}
